<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SimpleSwiftProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>611BE9961E911C95005EEEEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>611BE9AA1E911C95005EEEEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>611BE9B51E911C95005EEEEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
